body {
    display: flex;
    background-color: rgb(95, 131, 133);
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}




.playground {
    width: 400px;
    height: 400px;
    max-width: 400px;
    max-height: 400px;
    display: grid;
    background-color: brown;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    border: 1px solid red;
    gap: 0px;
}


